/* dietary-form.component.css */
.container {
  height: 100%;
}

button {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-element {
  display: flex;
  flex-direction: column;
}

mat-option {
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 5px -2px gray;
}
  
button {
  background-color: #4CAF50;;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  select, button {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    font-size: 14px;
  }
}
